/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/* ==========================================================================
   Custom styles
   ========================================================================== */





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FFDDAE; */
}
body, html {
  height: 100%;
  /* font-family: 'Montserrat', sans-serif; */
}
main{
  margin:0px 60px 0px 60px;
  /* border-right: 60px solid #000; */
}
.font {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0 0 1px black;
}
.container-1 {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.left, .right {
  flex: 1;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .left{
  border: 2px solid black;
} */
.right {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.outline-text {
  font-size: 8vw;
  color: transparent;
  -webkit-text-stroke: 1px white;
  letter-spacing: 8px;
  text-align: center;
}
.container-2 {
  padding: 60px 60px 80px 60px;
  /* border:1px solid #af5f14;
  border-radius: 20px; */
  background-color: #FEF9F2;
  /* background-color: #C6E7FF; */
  margin-bottom: 8px;
  
  
}
.container-2 p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 100;
  padding-left: 30px;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: transparent;
  color: #000;
  font-weight: 100;
  /* font-weight: 600; */
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
}
#about {
  border-left: 5px solid #e2ba37;
  background-color: #fffaf2;
  border-radius: 10px;
}

/* .line-1[data-aos="zoom-in"].aos-animate {
  transform: scaleX(1);
} */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px 40px;
}
.skill span {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  /* font-family: 'Playfair Display', serif;
  letter-spacing: 0.8px;
  font-style: italic; */
}
.skill-bar {
  background: #161515;
  border-radius: 20px;
  overflow: hidden;
  width: 95%;
  margin-bottom: 10px;
}
.progress-bar {
  width: 0; 
  height: 100%;
  background-color: hsl(39, 49%, 49%);
  text-align: right;
  line-height: 20px;
  color: white;
  font-size: 13px;
  padding-right: 10px;
  border-radius: 20px;
  transition: width 2s ease;
}
.skill{
  margin-bottom: 20px;
}
#skills {
  border-left: 5px solid #57c2e0;
  border-radius: 10px;
}
.line-1 {
  height: 2px;
  background-color: #e2ba37;
  width: 130px;                    
  transform: scaleX(0);           
  transform-origin: right;        
  transition: transform 4s ease-in-out;
  margin: 0 0 25px 110px;
}
.line-1[data-aos="line-grow"].aos-animate {
  transform: scaleX(1);         
}

/* .line-1 {
  height: 4px;
  width: 0;
  background-color: #e2ba37;
  margin: 0 0 25px 130px;
  animation: stretchLine 2s ease-out forwards;
}

@keyframes stretchLine {
  0% {
    transform-origin: left;
    width: 0;
  }
  70% {
    width: 150px;
    transform-origin: left;
  }
  100% {
    width: 150px;
    transform: translateX(10px); 
  }
} */
#projects {
  border-left: 5px solid #da8282; /* Yellow-orange border */
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
}
.res-but{
  margin:30px 0 0 100px;
}
.res-but a{
  text-decoration: none;
  font-size: 18px;
  color: #ba7300;
}
.res-but label{
  font-size: 20px;
}
#resume {
  border-left: 5px solid #efb135;  /* Yellow-orange border */
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
}

/* .f-box {
  z-index: 0;
  position: absolute;
  width: 200px;
  height: 100px;               /* Or any height you want */
  /* background-color: #efb135;      /* You can change to gradient or image later */
  /* margin-top: 20px; */
  /* opacity: 0.9;                */
  /* border-radius: 10px;         /* Optional rounded corners */
  /* bottom: 105px;
  left: -20px;
} */ 
/* .f-box {
  position: absolute;
  top: 30px;                
  left: -30px;              
  width: 250px;
  height: 100px;
  background: #efb135;
  opacity: 0.3;
  border-radius: 15px;
  z-index: 0;              
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
} */
.con-mess-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 40px;
}
.contact-info, .social-icons{
  margin-left: 110px;  
}
.contact-box, .message-box {
  border-left: 5px solid #57c2e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* .contact-info {
  margin-top: 20px;
} */
.contact-info p {
  margin-bottom: 12px;
  font-size: 1.3rem;
  color: #333;
}
.contact-info i {
  margin-right: 10px;
  color: #ca832c;
}
.social-icons {
  margin: 20px 0 0 140px;
}
.social-icons a {
  font-size: 1.7rem;
  margin-right: 18px;
  color: #333;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #ca832c;
}
.form-mess {
  margin-top: 20px;
}
.form-ele {
  position: relative;
  margin-bottom: 12px;
}
.form-ele input,
.form-ele textarea {
  width: 100%;
  padding: 12px 16px 12px 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Cormorant Garamond', serif;
  text-shadow: 0 0 1px black;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-ele textarea {
  resize: vertical;
  min-height: 120px;
}
.form-ele i.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}
.form-ele button {
  display: block;
  width: 140px;
  margin: auto;
  padding: 10px 20px;
  background-color: #efb135;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  transition: background-color 0.3s ease;
}
.form-ele button:hover {
  background-color: #d99417;
}
.contact-box:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
.message-box:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
.footer {
  background-color: #000000;
  padding: 25px 50px;
  font-family: 'Cormorant Garamond', serif;
  box-shadow: 0 -2px 10px #ca832c;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-left h4 {
  margin: 0;
  font-size: 1.4rem;
  color:#ca832c;
}
.footer-left{
  margin: 5px 0 0;
  color: #ab9a8b;
  font-size: 0.95rem;
}
.footer-right a {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #a39587;
  transition: color 0.3s;
}
.footer-right a:hover {
  color:#ca832c;
}
.footer-right{
  margin-right: 20px;
}
/* #toTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  background-color: #efb135;
  color: white;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#toTopBtn:hover {
  background-color: #d99417;
} */
/* Color Variables */

/* cube loader*/

/* :root {
  --light-cyan: #d6fff6;
  --medium-turquoise: #4dccbd;
  --russian-violet: #110d31;
  --french-blue: #2374ab;
  --light-coral: #ff8484;
  --cube-size: 80px;
}

#preloader {
  position: fixed;
  inset: 0;
  background: var(--light-coral);
  display: grid;
  place-items: center;
  z-index: 9999;
}

.scene {
  height: calc(var(--cube-size) * 2.75);
  width: calc(var(--cube-size) * 2.75);
  display: grid;
  place-items: center;
  position: relative;
  z-index: 2;
}

.cube-wrapper {
  transform-style: preserve-3d;
  animation: bouncing 2s infinite;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg);
  animation: rotation 2s infinite;
}

.cube-faces {
  transform-style: preserve-3d;
  height: var(--cube-size);
  width: var(--cube-size);
  position: relative;
  transform-origin: 0 0;
  transform: translateZ(calc(-1 * var(--cube-size) / 2));
}

.cube-face {
  position: absolute;
  inset: 0;
  background: var(--russian-violet);
  border: solid 1px var(--light-coral);
}

.cube-face.shadow {
  transform: translateZ(calc(-1 * var(--cube-size)));
  animation: bouncing-shadow 2s infinite;
}
.cube-face.top {
  transform: translateZ(var(--cube-size));
}
.cube-face.front {
  transform-origin: 0 50%;
  transform: rotateY(-90deg);
}
.cube-face.back {
  transform-origin: 0 50%;
  transform: rotateY(-90deg) translateZ(calc(-1 * var(--cube-size)));
}
.cube-face.right {
  transform-origin: 50% 0;
  transform: rotateX(-90deg) translateY(calc(-1 * var(--cube-size)));
}
.cube-face.left {
  transform-origin: 50% 0;
  transform: rotateX(-90deg) translateY(calc(-1 * var(--cube-size))) translateZ(var(--cube-size));
}

@keyframes rotation {
  0% {
    transform: rotateX(45deg) rotateY(0) rotateZ(45deg);
    animation-timing-function: cubic-bezier(0.17,0.84,0.44,1);
  }
  50% {
    transform: rotateX(45deg) rotateY(0) rotateZ(225deg);
    animation-timing-function: cubic-bezier(0.76,0.05,0.86,0.06);
  }
  100% {
    transform: rotateX(45deg) rotateY(0) rotateZ(405deg);
    animation-timing-function: cubic-bezier(0.17,0.84,0.44,1);
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(calc(-1 * var(--cube-size) * 0.5));
    animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
  45% {
    transform: translateY(calc(var(--cube-size) * 0.5));
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  100% {
    transform: translateY(calc(-1 * var(--cube-size) * 0.5));
    animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
}

@keyframes bouncing-shadow {
  0% {
    transform: translateZ(calc(-1 * var(--cube-size))) scale(1.3);
    opacity: 0.05;
  }
  45% {
    transform: translateZ(0);
    opacity: 0.3;
  }
  100% {
    transform: translateZ(calc(-1 * var(--cube-size))) scale(1.3);
    opacity: 0.05;
  }
} */



/*plane*/

#splash {
  background: #d59f21;
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 1.8s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  z-index: 9999;
} 



#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%,100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translate(-50%,110%);
  }
  30% {
    transform: translate(-50%,50%);
  }
  100% {
    transform: translate(-50%,0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%,0%);
  }
  50% {
    transform: translate(0%,0%);
  }
  100% {
    transform: translate(0%,-100%);
  }
}



